<div class="taskshow">
<h1>Editing <%= @task.title %></h1>
        <p>
            <h2>Subtasks</h2>
            <ol>
                <% @task.subtasks.each do |subtask| %>
                    <li><%= subtask.title%></li>
                <% end %>
            </ol>
        </p>


<%= render 'form' %>

<p><%= link_to 'Home', home_url() %></p>
</div>