<h1> <%= @task.title %> </h1>

<p>
    <ol>
    <% @task.subtasks.each do |subtask| %>
        <li><%= subtask.title %> :
            <ul>
                <% list_users(subtask).each do |user| %>
                    <li><%= user %></li>
                <%end%>
            </ul>
        </li>
    <% end %>
    </ol>
</p>

<%= link_to "Add Subtask", new_task_subtask_path(:task_id => @task.id) %>