<h1> <%= @subtask.title %> </h1>
<h2>This subtask belongs to Task: <%= link_to @subtask.task.title, task_path(@subtask.task) %> </h2>
<p>
    <h3>The following Users are assigned to this subtask:</h3>
            <ul>
                <% list_users(@subtask).each do |user| %>
                    <li><%= user %></li>
                <%end%>
            <ul>
</p>

<%= link_to "Edit Subtask", edit_subtask(@subtask) %>